/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). employees
	4). profile

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ------ universal ------- */
html {
  font-size: 16px; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  color: inherit; }

a:hover {
  text-decoration: none; }

.ng-cloak {
  display: none; }

.green {
  color: green; }

.red {
  color: red; }

.centered {
  text-align: center; }

.wrapper {
  margin: 0 1rem; }

/* ------ navbar ------- */
.navbar {
  border-radius: 0; }

/* ------ employees ------- */
.edit-employee img {
  max-width: 100%; }

.employee-list {
  border: 1px solid black;
  height: 90vh;
  overflow: scroll; }

.employee-individual {
  border-bottom: 1px solid black; }
  .employee-individual:hover {
    background: lightgrey; }
  .employee-individual img {
    height: 100px;
    width: 100px; }

/* -------- legend --------- */
.legend ul li #red {
  background: red;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  width: 40px; }

.legend ul li #blue {
  background: blue;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  width: 40px; }

.legend ul li #orange {
  background: orange;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  width: 40px; }
