<navigation></navigation>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<ul class="calendar-header">
				<li><i ng-click="previousMonth(counter)" class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
				<li><h4 ng-click="currentMonth()" class="centered">{{ current | date:'MMMM'}}</h4></li>
				<li><i ng-click="nextMonth(counter)" class="fa fa-angle-right fa-2x" aria-hidden="true"></i></li>
			</ul>

			<div class="calendar-section">
				<table ng-show="current === 'May' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-05-01">1</td>
				    	<td data-date="2016-05-02">2</td>
				    	<td data-date="2016-05-03">3</td>
				    	<td data-date="2016-05-04">4</td>
				    	<td data-date="2016-05-05">5</td>
				    	<td data-date="2016-05-06">6</td>
				    	<td data-date="2016-05-07">7</td>
				    </tr>
				   <tr>
				    <td data-date="2016-05-08">8</td>
				   	<td data-date="2016-05-09">9</td>
				   	<td data-date="2016-05-10">10</td>
				   	<td data-date="2016-05-11">11</td>
				   	<td data-date="2016-05-12">12</td>
				   	<td data-date="2016-05-13">13</td>
				   	<td data-date="2016-05-14">14</td>
				   </tr>
				    <tr>
				    <td data-date="2016-05-15">15</td>
				   	<td data-date="2016-05-16">16</td>
				   	<td data-date="2016-05-17">17</td>
				   	<td data-date="2016-05-18">18</td>
				   	<td data-date="2016-05-19">19</td>
				   	<td data-date="2016-05-20">20</td>
				   	<td data-date="2016-05-21">21</td>
				   </tr>
				   <tr>
				    <td data-date="2016-05-22">22</td>
				   	<td data-date="2016-05-23">23</td>
				   	<td data-date="2016-05-24">24</td>
				   	<td data-date="2016-05-25">25</td>
				   	<td data-date="2016-05-26">26</td>
				   	<td data-date="2016-05-27">27</td>
				   	<td data-date="2016-05-28">28</td>
				   </tr>
				   <tr>
				    <td data-date="2016-05-29">29</td>
				   	<td data-date="2016-05-30">30</td>
				   	<td data-date="2016-05-31">31</td>
				   	<td data-date="2016-06-01">1</td>
				   	<td data-date="2016-06-02">2</td>
				   	<td data-date="2016-06-03">3</td>
				   	<td data-date="2016-06-04">4</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-05">5</td>
				   	<td data-date="2016-06-06">6</td>
				   	<td data-date="2016-06-07">7</td>
				   	<td data-date="2016-06-08">8</td>
				   	<td data-date="2016-06-09">9</td>
				   	<td data-date="2016-06-10">10</td>
				   	<td data-date="2016-06-11">11</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'June' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-05-29" >29</td>
				    	<td data-date="2016-05-30" >30</td>
				    	<td data-date="2016-05-31" >31</td>
				    	<td data-date="2016-06-01" >1</td>
				    	<td data-date="2016-06-02" >2</td>
				    	<td data-date="2016-06-03" >3</td>
				    	<td data-date="2016-06-04" >4</td>
				    </tr>
				   <tr>
				    <td data-date="2016-06-05" >5</td>
				   	<td data-date="2016-06-06" >6</td>
				   	<td data-date="2016-06-07" >7</td>
				   	<td data-date="2016-06-08" >8</td>
				   	<td data-date="2016-06-09" >9</td>
				   	<td data-date="2016-06-10" >10</td>
				   	<td data-date="2016-06-11" >11</td>
				   </tr>
				    <tr>
				    <td data-date="2016-06-12" >12</td>
				   	<td data-date="2016-06-13" >13</td>
				   	<td data-date="2016-06-14" >14</td>
				   	<td data-date="2016-06-15" >15</td>
				   	<td data-date="2016-06-16" >16</td>
				   	<td data-date="2016-06-17" >17</td>
				   	<td data-date="2016-06-18" >18</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-19" >19</td>
				   	<td data-date="2016-06-20" >20</td>
				   	<td data-date="2016-06-21" >21</td>
				   	<td data-date="2016-06-22" >22</td>
				   	<td data-date="2016-06-23" >23</td>
				   	<td data-date="2016-06-24" >24</td>
				   	<td data-date="2016-06-25" >25</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-26" >26</td>
				   	<td data-date="2016-06-27" >27</td>
				   	<td data-date="2016-06-28" >28</td>
				   	<td data-date="2016-06-29" >29</td>
				   	<td data-date="2016-06-30" >30</td>
				   	<td data-date="2016-07-01" >1</td>
				   	<td data-date="2016-07-02" >2</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-03" >3</td>
				   	<td data-date="2016-07-04" >4</td>
				   	<td data-date="2016-07-05" >5</td>
				   	<td data-date="2016-07-06" >6</td>
				   	<td data-date="2016-07-07" >7</td>
				   	<td data-date="2016-07-08" >8</td>
				   	<td data-date="2016-07-09" >9</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'July' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-06-26" >26</td>
				    	<td data-date="2016-06-27" >27</td>
				    	<td data-date="2016-06-28" >28</td>
				    	<td data-date="2016-06-29" >29</td>
				    	<td data-date="2016-06-30" >30</td>
				    	<td data-date="2016-07-01" >1</td>
				    	<td data-date="2016-07-02" >2</td>
				    </tr>
				   <tr>
				    <td data-date="2016-07-03" >3</td>
				   	<td data-date="2016-07-04" >4</td>
				   	<td data-date="2016-07-05" >5</td>
				   	<td data-date="2016-07-06" >6</td>
				   	<td data-date="2016-07-07" >7</td>
				   	<td data-date="2016-07-08" >8</td>
				   	<td data-date="2016-07-09" >9</td>
				   </tr>
				    <tr>
				    <td data-date="2016-07-10" >10</td>
				   	<td data-date="2016-07-11" >11</td>
				   	<td data-date="2016-07-12" >12</td>
				   	<td data-date="2016-07-13" >13</td>
				   	<td data-date="2016-07-14" >14</td>
				   	<td data-date="2016-07-15" >15</td>
				   	<td data-date="2016-07-16" >16</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-17" >17</td>
				   	<td data-date="2016-07-18" >18</td>
				   	<td data-date="2016-07-19" >19</td>
				   	<td data-date="2016-07-20" >20</td>
				   	<td data-date="2016-07-21" >21</td>
				   	<td data-date="2016-07-22" >22</td>
				   	<td data-date="2016-07-23" >23</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-24" >24</td>
				   	<td data-date="2016-07-25" >25</td>
				   	<td data-date="2016-07-26" >26</td>
				   	<td data-date="2016-07-27" >27</td>
				   	<td data-date="2016-07-28" >28</td>
				   	<td data-date="2016-07-29" >29</td>
				   	<td data-date="2016-07-30" >30</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-31" >31</td>
				   	<td data-date="2016-08-01" >1</td>
				   	<td data-date="2016-08-02" >2</td>
				   	<td data-date="2016-08-03" >3</td>
				   	<td data-date="2016-08-04" >4</td>
				   	<td data-date="2016-08-05" >5</td>
				   	<td data-date="2016-08-06" >6</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'August' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-07-31" >31</td>
				    	<td data-date="2016-08-01" >1</td>
				    	<td data-date="2016-08-02" >2</td>
				    	<td data-date="2016-08-03" >3</td>
				    	<td data-date="2016-08-04" >4</td>
				    	<td data-date="2016-08-05" >5</td>
				    	<td data-date="2016-08-06" >6</td>
				    </tr>
				   <tr>
				    <td data-date="2016-08-07" >7</td>
				   	<td data-date="2016-08-08" >8</td>
				   	<td data-date="2016-08-09" >9</td>
				   	<td data-date="2016-08-10" >10</td>
				   	<td data-date="2016-08-11" >11</td>
				   	<td data-date="2016-08-12" >12</td>
				   	<td data-date="2016-08-13" >13</td>
				   </tr>
				    <tr>
				    <td data-date="2016-08-14" >14</td>
				   	<td data-date="2016-08-15" >15</td>
				   	<td data-date="2016-08-16" >16</td>
				   	<td data-date="2016-08-17" >17</td>
				   	<td data-date="2016-08-18" >18</td>
				   	<td data-date="2016-08-19" >19</td>
				   	<td data-date="2016-08-20" >20</td>
				   </tr>
				   <tr>
				    <td data-date="2016-08-21" >21</td>
				   	<td data-date="2016-08-22" >22</td>
				   	<td data-date="2016-08-23" >23</td>
				   	<td data-date="2016-08-24" >24</td>
				   	<td data-date="2016-08-25" >25</td>
				   	<td data-date="2016-08-26" >26</td>
				   	<td data-date="2016-08-27" >27</td>
				   </tr>
				   <tr>
				    <td data-date="2016-08-28" >28</td>
				   	<td data-date="2016-08-29" >29</td>
				   	<td data-date="2016-08-30" >30</td>
				   	<td data-date="2016-08-31" >31</td>
				   	<td data-date="2016-09-01" >1</td>
				   	<td data-date="2016-09-02" >2</td>
				   	<td data-date="2016-09-03" >3</td>
				   </tr>
				   <tr>
				    <td data-date="2016-09-04" >4</td>
				   	<td data-date="2016-09-05" >5</td>
				   	<td data-date="2016-09-06" >6</td>
				   	<td data-date="2016-09-07" >7</td>
				   	<td data-date="2016-09-08" >8</td>
				   	<td data-date="2016-09-09" >9</td>
				   	<td data-date="2016-09-10" >10</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'September' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-08-28" >28</td>
				    	<td data-date="2016-08-29" >29</td>
				    	<td data-date="2016-08-30" >30</td>
				    	<td data-date="2016-08-31" >31</td>
				    	<td data-date="2016-09-01" >1</td>
				    	<td data-date="2016-09-02" >2</td>
				    	<td data-date="2016-09-03" >3</td>
				    </tr>
						<tr>
							<td data-date="2016-09-04" >4</td>
							<td data-date="2016-09-05" >5</td>
							<td data-date="2016-09-06" >6</td>
							<td data-date="2016-09-07" >7</td>
							<td data-date="2016-09-08" >8</td>
							<td data-date="2016-09-09" >9</td>
							<td data-date="2016-09-10" >10</td>
						</tr>
						<tr>
							<td data-date="2016-09-11" >11</td>
							<td data-date="2016-09-12" >12</td>
							<td data-date="2016-09-13" >13</td>
							<td data-date="2016-09-14" >14</td>
							<td data-date="2016-09-15" >15</td>
							<td data-date="2016-09-16" >16</td>
							<td data-date="2016-09-17" >17</td>
						</tr>
						<tr>
							<td data-date="2016-09-18" >18</td>
							<td data-date="2016-09-19" >19</td>
							<td data-date="2016-09-20" >20</td>
							<td data-date="2016-09-21" >21</td>
							<td data-date="2016-09-22" >22</td>
							<td data-date="2016-09-23" >23</td>
							<td data-date="2016-09-24" >24</td>
						</tr>
						<tr>
							<td data-date="2016-09-25" >25</td>
							<td data-date="2016-09-26" >26</td>
							<td data-date="2016-09-27" >27</td>
							<td data-date="2016-09-28" >28</td>
							<td data-date="2016-09-29" >29</td>
							<td data-date="2016-09-30" >30</td>
							<td data-date="2016-10-01" >1</td>
						</tr>
						<tr>
							<td data-date="2016-10-02" >2</td>
							<td data-date="2016-10-03" >3</td>
							<td data-date="2016-10-04" >4</td>
							<td data-date="2016-10-05" >5</td>
							<td data-date="2016-10-06" >6</td>
							<td data-date="2016-10-07" >7</td>
							<td data-date="2016-10-08" >8</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'October' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-09-25" >25</td>
				      <td data-date="2016-09-26" >26</td>
				      <td data-date="2016-09-27" >27</td>
				      <td data-date="2016-09-28" >28</td>
				      <td data-date="2016-09-29" >29</td>
				      <td data-date="2016-09-30" >30</td>
				      <td data-date="2016-10-01" >1</td>
				    </tr>
						<tr>
							<td data-date="2016-10-02" >2</td>
							<td data-date="2016-10-03" >3</td>
							<td data-date="2016-10-04" >4</td>
							<td data-date="2016-10-05" >5</td>
							<td data-date="2016-10-06" >6</td>
							<td data-date="2016-10-07" >7</td>
							<td data-date="2016-10-08" >8</td>
						</tr>
						<tr>
							<td data-date="2016-10-09" >9</td>
							<td data-date="2016-10-10" >10</td>
							<td data-date="2016-10-11" >11</td>
							<td data-date="2016-10-12" >12</td>
							<td data-date="2016-10-13" >13</td>
							<td data-date="2016-10-14" >14</td>
							<td data-date="2016-10-15" >15</td>
						</tr>
						<tr>
							<td data-date="2016-10-16" >16</td>
							<td data-date="2016-10-17" >17</td>
							<td data-date="2016-10-18" >18</td>
							<td data-date="2016-10-19" >19</td>
							<td data-date="2016-10-20" >20</td>
							<td data-date="2016-10-21" >21</td>
							<td data-date="2016-10-22" >22</td>
						</tr>
						<tr>
							<td data-date="2016-10-23" >23</td>
							<td data-date="2016-10-24" >24</td>
							<td data-date="2016-10-25" >25</td>
							<td data-date="2016-10-26" >26</td>
							<td data-date="2016-10-27" >27</td>
							<td data-date="2016-10-28" >28</td>
							<td data-date="2016-10-29" >29</td>
						</tr>
						<tr>
							<td data-date="2016-10-30" >30</td>
							<td data-date="2016-10-31" >31</td>
							<td data-date="2016-11-01" >1</td>
							<td data-date="2016-11-02" >2</td>
							<td data-date="2016-11-03" >3</td>
							<td data-date="2016-11-04" >4</td>
							<td data-date="2016-11-05" >5</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'November' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-10-30" >30</td>
				      <td data-date="2016-10-31" >31</td>
				      <td data-date="2016-11-01" >1</td>
				      <td data-date="2016-11-02" >2</td>
				      <td data-date="2016-11-03" >3</td>
				      <td data-date="2016-11-04" >4</td>
				      <td data-date="2016-11-05" >5</td>
				    </tr>
						<tr>
							<td data-date="2016-11-06" >6</td>
							<td data-date="2016-11-07" >7</td>
							<td data-date="2016-11-08" >8</td>
							<td data-date="2016-11-09" >9</td>
							<td data-date="2016-11-10" >10</td>
							<td data-date="2016-11-11" >11</td>
							<td data-date="2016-11-12" >12</td>
						</tr>
						<tr>
							<td data-date="2016-11-13" >13</td>
							<td data-date="2016-11-14" >14</td>
							<td data-date="2016-11-15" >15</td>
							<td data-date="2016-11-16" >16</td>
							<td data-date="2016-11-17" >17</td>
							<td data-date="2016-11-18" >18</td>
							<td data-date="2016-11-19" >19</td>
						</tr>
						<tr>
							<td data-date="2016-11-20" >20</td>
							<td data-date="2016-11-21" >21</td>
							<td data-date="2016-11-22" >22</td>
							<td data-date="2016-11-23" >23</td>
							<td data-date="2016-11-24" >24</td>
							<td data-date="2016-11-25" >25</td>
							<td data-date="2016-11-26" >26</td>
						</tr>
						<tr>
							<td data-date="2016-11-27" >27</td>
							<td data-date="2016-11-28" >28</td>
							<td data-date="2016-11-29" >29</td>
							<td data-date="2016-11-30" >30</td>
							<td data-date="2016-12-01" >1</td>
							<td data-date="2016-12-02" >2</td>
							<td data-date="2016-12-03" >3</td>
						</tr>
						<tr>
							<td data-date="2016-12-04" >4</td>
							<td data-date="2016-12-05" >5</td>
							<td data-date="2016-12-06" >6</td>
							<td data-date="2016-12-07" >7</td>
							<td data-date="2016-12-08" >8</td>
							<td data-date="2016-12-09" >9</td>
							<td data-date="2016-12-10" >10</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'December' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-11-27">27</td>
				      <td data-date="2016-11-28">28</td>
				      <td data-date="2016-11-29">29</td>
				      <td data-date="2016-11-30">30</td>
				      <td data-date="2016-12-01">1</td>
				      <td data-date="2016-12-02">2</td>
				      <td data-date="2016-12-03">3</td>
				    </tr>
						<tr>
							<td data-date="2016-12-04">4</td>
							<td data-date="2016-12-05">5</td>
							<td data-date="2016-12-06">6</td>
							<td data-date="2016-12-07">7</td>
							<td data-date="2016-12-08">8</td>
							<td data-date="2016-12-09">9</td>
							<td data-date="2016-12-10">10</td>
						</tr>
						<tr>
							<td data-date="2016-12-11">11</td>
							<td data-date="2016-12-12">12</td>
							<td data-date="2016-12-13">13</td>
							<td data-date="2016-12-14">14</td>
							<td data-date="2016-12-15">15</td>
							<td data-date="2016-12-16">16</td>
							<td data-date="2016-12-17">17</td>
						</tr>
						<tr>
							<td data-date="2016-12-18">18</td>
							<td data-date="2016-12-19">19</td>
							<td data-date="2016-12-20">20</td>
							<td data-date="2016-12-21">21</td>
							<td data-date="2016-12-22">22</td>
							<td data-date="2016-12-23">23</td>
							<td data-date="2016-12-24">24</td>
						</tr>
						<tr>
							<td data-date="2016-12-25">25</td>
							<td data-date="2016-12-26">26</td>
							<td data-date="2016-12-27">27</td>
							<td data-date="2016-12-28">28</td>
							<td data-date="2016-12-29">29</td>
							<td data-date="2016-12-30">30</td>
							<td data-date="2016-12-31">31</td>
						</tr>
						<tr>
							<td data-date="2017-01-01">1</td>
							<td data-date="2017-01-02">2</td>
							<td data-date="2017-01-03">3</td>
							<td data-date="2017-01-04">4</td>
							<td data-date="2017-01-05">5</td>
							<td data-date="2017-01-06">6</td>
							<td data-date="2017-01-07">7</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'January' && year == 2017" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2017-01-01" >1</td>
				      <td data-date="2017-01-02" >2</td>
				      <td data-date="2017-01-03" >3</td>
				      <td data-date="2017-01-04" >4</td>
				      <td data-date="2017-01-05" >5</td>
				      <td data-date="2017-01-06" >6</td>
				      <td data-date="2017-01-07" >7</td>
				    </tr>
						<tr>
							<td data-date="2017-01-08" >8</td>
							<td data-date="2017-01-09" >9</td>
							<td data-date="2017-01-10" >10</td>
							<td data-date="2017-01-11" >11</td>
							<td data-date="2017-01-12" >12</td>
							<td data-date="2017-01-13" >13</td>
							<td data-date="2017-01-14" >14</td>
						</tr>
						<tr>
							<td data-date="2016-12-11" >11</td>
							<td data-date="2016-12-12" >12</td>
							<td data-date="2016-12-13" >13</td>
							<td data-date="2016-12-14" >14</td>
							<td data-date="2016-12-15" >15</td>
							<td data-date="2016-12-16" >16</td>
							<td data-date="2016-12-17" >17</td>
						</tr>
						<tr>
							<td data-date="2017-01-15" >15</td>
							<td data-date="2017-01-16" >16</td>
							<td data-date="2017-01-17" >17</td>
							<td data-date="2017-01-18" >18</td>
							<td data-date="2017-01-19" >19</td>
							<td data-date="2017-01-20" >20</td>
							<td data-date="2017-01-21" >21</td>
						</tr>
						<tr>
							<td data-date="2017-01-22" >22</td>
							<td data-date="2017-01-23" >23</td>
							<td data-date="2017-01-24" >24</td>
							<td data-date="2017-01-25" >25</td>
							<td data-date="2017-01-26" >26</td>
							<td data-date="2017-01-27" >27</td>
							<td data-date="2017-01-28" >28</td>
						</tr>
						<tr>
							<td data-date="2017-01-29" >29</td>
							<td data-date="2017-01-30" >30</td>
							<td data-date="2017-01-31" >31</td>
							<td data-date="2017-02-01" >1</td>
							<td data-date="2017-02-02" >2</td>
							<td data-date="2017-02-03" >3</td>
							<td data-date="2017-02-04" >4</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'February' && year == 2017" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2017-01-29" >29</td>
				      <td data-date="2017-01-30" >30</td>
				      <td data-date="2017-01-31" >31</td>
				      <td data-date="2017-02-01" >1</td>
				      <td data-date="2017-02-02" >2</td>
				      <td data-date="2017-02-03" >3</td>
				      <td data-date="2017-02-04" >4</td>
				    </tr>
						<tr>
							<td data-date="2017-02-05" >5</td>
							<td data-date="2017-02-06" >6</td>
							<td data-date="2017-02-07" >7</td>
							<td data-date="2017-02-08" >8</td>
							<td data-date="2017-02-09" >9</td>
							<td data-date="2017-02-10" >10</td>
							<td data-date="2017-02-11" >11</td>
						</tr>
						<tr>
							<td data-date="2017-02-12" >12</td>
							<td data-date="2017-02-13" >13</td>
							<td data-date="2017-02-14" >14</td>
							<td data-date="2017-02-15" >15</td>
							<td data-date="2017-02-16" >16</td>
							<td data-date="2017-02-17" >17</td>
							<td data-date="2017-02-18" >18</td>
						</tr>
						<tr>
							<td data-date="2017-02-19" >19</td>
							<td data-date="2017-02-20" >20</td>
							<td data-date="2017-02-21" >21</td>
							<td data-date="2017-02-22" >22</td>
							<td data-date="2017-02-23" >23</td>
							<td data-date="2017-02-24" >24</td>
							<td data-date="2017-02-25" >25</td>
						</tr>
						<tr>
							<td data-date="2017-02-26" >26</td>
							<td data-date="2017-02-27" >27</td>
							<td data-date="2017-02-28" >28</td>
							<td data-date="2017-03-01" >1</td>
							<td data-date="2017-03-02" >2</td>
							<td data-date="2017-03-03" >3</td>
							<td data-date="2017-03-04" >4</td>
						</tr>
						<tr>
							<td data-date="2017-03-05" >5</td>
							<td data-date="2017-03-06" >6</td>
							<td data-date="2017-03-07" >7</td>
							<td data-date="2017-03-08" >8</td>
							<td data-date="2017-03-09" >9</td>
							<td data-date="2017-03-10" >10</td>
							<td data-date="2017-03-11" >11</td>
						</tr>
				  </tbody>
				</table>
			</div>
				<form class="form-inline">
				  <div class="form-group" style="margin-right: 2rem;">
				    <label for="start">Start Month</label>
				    <select ng-model="start" class="form-control" id="start">
				        <option ng-repeat="month in monthsRemaining" value="{{month}}">{{month}}</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="end">End Month</label>
				    <select ng-model="end" class="form-control" id="end">
				        <option ng-repeat="month in nextMonths" value="{{month}}">{{month}}</option>
				    </select>
				    <!-- <select ng-model="end" class="form-control" id="end" placeholder="end-month">
				        <option value="January">January</option>
				        <option value="February">February</option>
				        <option value="March">March</option>
				        <option value="April">April</option>
				        <option value="May">May</option>
				        <option value="June">June</option>
				        <option value="July">July</option>
				        <option value="August">August</option>
				        <option value="September">September</option>
				        <option value="October">October</option>
				        <option value="November">November</option>
				        <option value="December">December</option>
				    </select> -->
				  </div>
				  <button ng-click="makeSchedule()" type="button" class="btn btn-success pull-right">Make Schedule</button>
				  <button ng-click="resetSchedule()" type="button" class="btn btn-danger pull-right">Reset Schedule</button>
				</form>

		</div>

		<!-- <div class="col-sm-4">
			<ul>
				<li ng-repeat="employee in employees" >{{employee.picture}} {{employee.first_name}} {{employee.last_name}}</li>
			</ul>
		</div> -->

			<div class="col-sm-4">
				<div class="employee-list">
					<ul> <!-- need to hide admin from employee list -->
						<li ng-click="selected()" class="employee-individual" ng-hide="employee.admin" ng-repeat="employee in employees | filter:search">
							<div class="employee-stats">
								<img ng-src="{{employee.picture}}">
									<p>{{employee.first_name}} {{employee.last_name}}</p>
									<!-- <span ng-show="employee.admin"> -- ADMIN</span> -->
							</div>
						</li>
					</ul>
				</div>
			</div>

	</div>
</div>

<!-- {{people}} -->







