<navigation></navigation>
	<!-- {{employees}} -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<ul class="calendar-header">
				<li><i ng-click="previousMonth(counter)" class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
				<li><h4 ng-click="currentMonth()" class="centered">{{ current | date:'MMMM'}}</h4></li>
				<li><i ng-click="nextMonth(counter)" class="fa fa-angle-right fa-2x" aria-hidden="true"></i></li>
			</ul>

			<div class="calendar-section">
				<table ng-show="current === 'May' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th class="">Sun</th>
				    	<th class="">Mon</th>
				    	<th class="">Tue</th>
				    	<th class="">Wed</th>
				    	<th class="">Thu</th>
				    	<th class="">Fri</th>
				    	<th class="">Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-05-01">1</td>
				    	<td data-date="2016-05-02">2</td>
				    	<td data-date="2016-05-03">3</td>
				    	<td data-date="2016-05-04">4</td>
				    	<td data-date="2016-05-05">5</td>
				    	<td data-date="2016-05-06">6</td>
				    	<td data-date="2016-05-07">7</td>
				    </tr>
				   <tr>
				    <td data-date="2016-05-08">8</td>
				   	<td data-date="2016-05-09">9</td>
				   	<td data-date="2016-05-10">10</td>
				   	<td data-date="2016-05-11">11</td>
				   	<td data-date="2016-05-12">12</td>
				   	<td data-date="2016-05-13">13</td>
				   	<td data-date="2016-05-14">14</td>
				   </tr>
				    <tr>
				    <td data-date="2016-05-15">15</td>
				   	<td data-date="2016-05-16">16</td>
				   	<td data-date="2016-05-17">17</td>
				   	<td data-date="2016-05-18">18</td>
				   	<td data-date="2016-05-19">19</td>
				   	<td data-date="2016-05-20">20</td>
				   	<td data-date="2016-05-21">21</td>
				   </tr>
				   <tr>
				    <td data-date="2016-05-22">22</td>
				   	<td data-date="2016-05-23">23</td>
				   	<td data-date="2016-05-24">24</td>
				   	<td data-date="2016-05-25">25</td>
				   	<td data-date="2016-05-26">26</td>
				   	<td data-date="2016-05-27">27</td>
				   	<td data-date="2016-05-28">28</td>
				   </tr>
				   <tr>
				    <td data-date="2016-05-29">29</td>
				   	<td data-date="2016-05-30">30</td>
				   	<td data-date="2016-05-31">31</td>
				   	<td data-date="2016-06-01">1</td>
				   	<td data-date="2016-06-02">2</td>
				   	<td data-date="2016-06-03">3</td>
				   	<td data-date="2016-06-04">4</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-05">5</td>
				   	<td data-date="2016-06-06">6</td>
				   	<td data-date="2016-06-07">7</td>
				   	<td data-date="2016-06-08">8</td>
				   	<td data-date="2016-06-09">9</td>
				   	<td data-date="2016-06-10">10</td>
				   	<td data-date="2016-06-11">11</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'June' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-05-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-05-29') > -1 }">29</td>
				    	<td data-date="2016-05-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-05-30') > -1 }">30</td>
				    	<td data-date="2016-05-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-05-31') > -1 }">31</td>
				    	<td data-date="2016-06-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-01') > -1 }">1</td>
				    	<td data-date="2016-06-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-02') > -1 }">2</td>
				    	<td data-date="2016-06-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-03') > -1 }">3</td>
				    	<td data-date="2016-06-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-04') > -1 }">4</td>
				    </tr>
				   <tr>
				    <td data-date="2016-06-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-05') > -1 }">5</td>
				   	<td data-date="2016-06-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-06') > -1 }">6</td>
				   	<td data-date="2016-06-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-07') > -1 }">7</td>
				   	<td data-date="2016-06-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-08') > -1 }">8</td>
				   	<td data-date="2016-06-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-09') > -1 }">9</td>
				   	<td data-date="2016-06-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-10') > -1 }">10</td>
				   	<td data-date="2016-06-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-11') > -1 }">11</td>
				   </tr>
				    <tr>
				    <td data-date="2016-06-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-12') > -1 }">12</td>
				   	<td data-date="2016-06-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-13') > -1 }">13</td>
				   	<td data-date="2016-06-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-14') > -1 }">14</td>
				   	<td data-date="2016-06-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-15') > -1 }">15</td>
				   	<td data-date="2016-06-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-16') > -1 }">16</td>
				   	<td data-date="2016-06-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-17') > -1 }">17</td>
				   	<td data-date="2016-06-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-18') > -1 }">18</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-19') > -1 }">19</td>
				   	<td data-date="2016-06-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-20') > -1 }">20</td>
				   	<td data-date="2016-06-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-21') > -1 }">21</td>
				   	<td data-date="2016-06-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-22') > -1 }">22</td>
				   	<td data-date="2016-06-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-23') > -1 }">23</td>
				   	<td data-date="2016-06-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-24') > -1 }">24</td>
				   	<td data-date="2016-06-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-25') > -1 }">25</td>
				   </tr>
				   <tr>
				    <td data-date="2016-06-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-26') > -1 }">26</td>
				   	<td data-date="2016-06-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-27') > -1 }">27</td>
				   	<td data-date="2016-06-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-28') > -1 }">28</td>
				   	<td data-date="2016-06-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-29') > -1 }">29</td>
				   	<td data-date="2016-06-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-30') > -1 }">30</td>
				   	<td data-date="2016-07-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-01') > -1 }">1</td>
				   	<td data-date="2016-07-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-02') > -1 }">2</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-03') > -1 }">3</td>
				   	<td data-date="2016-07-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-04') > -1 }">4</td>
				   	<td data-date="2016-07-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-05') > -1 }">5</td>
				   	<td data-date="2016-07-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-06') > -1 }">6</td>
				   	<td data-date="2016-07-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-07') > -1 }">7</td>
				   	<td data-date="2016-07-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-08') > -1 }">8</td>
				   	<td data-date="2016-07-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-09') > -1 }">9</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'July' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-06-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-26') > -1 }">26</td>
				    	<td data-date="2016-06-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-27') > -1 }">27</td>
				    	<td data-date="2016-06-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-28') > -1 }">28</td>
				    	<td data-date="2016-06-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-29') > -1 }">29</td>
				    	<td data-date="2016-06-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-06-30') > -1 }">30</td>
				    	<td data-date="2016-07-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-01') > -1 }">1</td>
				    	<td data-date="2016-07-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-02') > -1 }">2</td>
				    </tr>
				   <tr>
				    <td data-date="2016-07-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-03') > -1 }">3</td>
				   	<td data-date="2016-07-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-04') > -1 }">4</td>
				   	<td data-date="2016-07-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-05') > -1 }">5</td>
				   	<td data-date="2016-07-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-06') > -1 }">6</td>
				   	<td data-date="2016-07-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-07') > -1 }">7</td>
				   	<td data-date="2016-07-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-08') > -1 }">8</td>
				   	<td data-date="2016-07-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-09') > -1 }">9</td>
				   </tr>
				    <tr>
				    <td data-date="2016-07-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-10') > -1 }">10</td>
				   	<td data-date="2016-07-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-11') > -1 }">11</td>
				   	<td data-date="2016-07-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-12') > -1 }">12</td>
				   	<td data-date="2016-07-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-13') > -1 }">13</td>
				   	<td data-date="2016-07-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-14') > -1 }">14</td>
				   	<td data-date="2016-07-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-15') > -1 }">15</td>
				   	<td data-date="2016-07-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-16') > -1 }">16</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-17') > -1 }">17</td>
				   	<td data-date="2016-07-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-18') > -1 }">18</td>
				   	<td data-date="2016-07-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-19') > -1 }">19</td>
				   	<td data-date="2016-07-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-20') > -1 }">20</td>
				   	<td data-date="2016-07-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-21') > -1 }">21</td>
				   	<td data-date="2016-07-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-22') > -1 }">22</td>
				   	<td data-date="2016-07-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-23') > -1 }">23</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-24') > -1 }">24</td>
				   	<td data-date="2016-07-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-25') > -1 }">25</td>
				   	<td data-date="2016-07-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-26') > -1 }">26</td>
				   	<td data-date="2016-07-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-27') > -1 }">27</td>
				   	<td data-date="2016-07-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-28') > -1 }">28</td>
				   	<td data-date="2016-07-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-29') > -1 }">29</td>
				   	<td data-date="2016-07-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-30') > -1 }">30</td>
				   </tr>
				   <tr>
				    <td data-date="2016-07-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-31') > -1 }">31</td>
				   	<td data-date="2016-08-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-01') > -1 }">1</td>
				   	<td data-date="2016-08-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-02') > -1 }">2</td>
				   	<td data-date="2016-08-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-03') > -1 }">3</td>
				   	<td data-date="2016-08-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-04') > -1 }">4</td>
				   	<td data-date="2016-08-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-05') > -1 }">5</td>
				   	<td data-date="2016-08-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-06') > -1 }">6</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'August' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-07-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-07-31') > -1 }">31</td>
				    	<td data-date="2016-08-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-01') > -1 }">1</td>
				    	<td data-date="2016-08-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-02') > -1 }">2</td>
				    	<td data-date="2016-08-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-03') > -1 }">3</td>
				    	<td data-date="2016-08-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-04') > -1 }">4</td>
				    	<td data-date="2016-08-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-05') > -1 }">5</td>
				    	<td data-date="2016-08-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-06') > -1 }">6</td>
				    </tr>
				   <tr>
				    <td data-date="2016-08-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-07') > -1 }">7</td>
				   	<td data-date="2016-08-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-08') > -1 }">8</td>
				   	<td data-date="2016-08-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-09') > -1 }">9</td>
				   	<td data-date="2016-08-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-10') > -1 }">10</td>
				   	<td data-date="2016-08-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-11') > -1 }">11</td>
				   	<td data-date="2016-08-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-12') > -1 }">12</td>
				   	<td data-date="2016-08-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-13') > -1 }">13</td>
				   </tr>
				    <tr>
				    <td data-date="2016-08-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-14') > -1 }">14</td>
				   	<td data-date="2016-08-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-15') > -1 }">15</td>
				   	<td data-date="2016-08-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-16') > -1 }">16</td>
				   	<td data-date="2016-08-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-17') > -1 }">17</td>
				   	<td data-date="2016-08-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-18') > -1 }">18</td>
				   	<td data-date="2016-08-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-19') > -1 }">19</td>
				   	<td data-date="2016-08-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-20') > -1 }">20</td>
				   </tr>
				   <tr>
				    <td data-date="2016-08-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-21') > -1 }">21</td>
				   	<td data-date="2016-08-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-22') > -1 }">22</td>
				   	<td data-date="2016-08-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-23') > -1 }">23</td>
				   	<td data-date="2016-08-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-24') > -1 }">24</td>
				   	<td data-date="2016-08-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-25') > -1 }">25</td>
				   	<td data-date="2016-08-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-26') > -1 }">26</td>
				   	<td data-date="2016-08-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-27') > -1 }">27</td>
				   </tr>
				   <tr>
				    <td data-date="2016-08-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-28') > -1 }">28</td>
				   	<td data-date="2016-08-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-29') > -1 }">29</td>
				   	<td data-date="2016-08-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-30') > -1 }">30</td>
				   	<td data-date="2016-08-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-31') > -1 }">31</td>
				   	<td data-date="2016-09-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-01') > -1 }">1</td>
				   	<td data-date="2016-09-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-02') > -1 }">2</td>
				   	<td data-date="2016-09-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-03') > -1 }">3</td>
				   </tr>
				   <tr>
				    <td data-date="2016-09-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-04') > -1 }">4</td>
				   	<td data-date="2016-09-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-05') > -1 }">5</td>
				   	<td data-date="2016-09-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-06') > -1 }">6</td>
				   	<td data-date="2016-09-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-07') > -1 }">7</td>
				   	<td data-date="2016-09-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-08') > -1 }">8</td>
				   	<td data-date="2016-09-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-09') > -1 }">9</td>
				   	<td data-date="2016-09-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-10') > -1 }">10</td>
				   </tr>
				  </tbody>
				</table>
				<table ng-show="current === 'September' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-08-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-28') > -1 }">28</td>
				    	<td data-date="2016-08-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-29') > -1 }">29</td>
				    	<td data-date="2016-08-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-30') > -1 }">30</td>
				    	<td data-date="2016-08-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-08-31') > -1 }">31</td>
				    	<td data-date="2016-09-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-01') > -1 }">1</td>
				    	<td data-date="2016-09-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-02') > -1 }">2</td>
				    	<td data-date="2016-09-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-03') > -1 }">3</td>
				    </tr>
						<tr>
							<td data-date="2016-09-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-04') > -1 }">4</td>
							<td data-date="2016-09-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-05') > -1 }">5</td>
							<td data-date="2016-09-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-06') > -1 }">6</td>
							<td data-date="2016-09-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-07') > -1 }">7</td>
							<td data-date="2016-09-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-08') > -1 }">8</td>
							<td data-date="2016-09-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-09') > -1 }">9</td>
							<td data-date="2016-09-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-10') > -1 }">10</td>
						</tr>
						<tr>
							<td data-date="2016-09-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-11') > -1 }">11</td>
							<td data-date="2016-09-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-12') > -1 }">12</td>
							<td data-date="2016-09-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-13') > -1 }">13</td>
							<td data-date="2016-09-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-14') > -1 }">14</td>
							<td data-date="2016-09-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-15') > -1 }">15</td>
							<td data-date="2016-09-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-16') > -1 }">16</td>
							<td data-date="2016-09-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-17') > -1 }">17</td>
						</tr>
						<tr>
							<td data-date="2016-09-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-18') > -1 }">18</td>
							<td data-date="2016-09-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-19') > -1 }">19</td>
							<td data-date="2016-09-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-20') > -1 }">20</td>
							<td data-date="2016-09-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-21') > -1 }">21</td>
							<td data-date="2016-09-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-22') > -1 }">22</td>
							<td data-date="2016-09-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-23') > -1 }">23</td>
							<td data-date="2016-09-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-24') > -1 }">24</td>
						</tr>
						<tr>
							<td data-date="2016-09-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-25') > -1 }">25</td>
							<td data-date="2016-09-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-26') > -1 }">26</td>
							<td data-date="2016-09-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-27') > -1 }">27</td>
							<td data-date="2016-09-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-28') > -1 }">28</td>
							<td data-date="2016-09-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-29') > -1 }">29</td>
							<td data-date="2016-09-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-30') > -1 }">30</td>
							<td data-date="2016-10-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-01') > -1 }">1</td>
						</tr>
						<tr>
							<td data-date="2016-10-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-02') > -1 }">2</td>
							<td data-date="2016-10-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-03') > -1 }">3</td>
							<td data-date="2016-10-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-04') > -1 }">4</td>
							<td data-date="2016-10-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-05') > -1 }">5</td>
							<td data-date="2016-10-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-06') > -1 }">6</td>
							<td data-date="2016-10-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-07') > -1 }">7</td>
							<td data-date="2016-10-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-08') > -1 }">8</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'October' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-09-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-25') > -1 }">25</td>
				      <td data-date="2016-09-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-26') > -1 }">26</td>
				      <td data-date="2016-09-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-27') > -1 }">27</td>
				      <td data-date="2016-09-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-28') > -1 }">28</td>
				      <td data-date="2016-09-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-29') > -1 }">29</td>
				      <td data-date="2016-09-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-09-30') > -1 }">30</td>
				      <td data-date="2016-10-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-01') > -1 }">1</td>
				    </tr>
						<tr>
							<td data-date="2016-10-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-02') > -1 }">2</td>
							<td data-date="2016-10-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-03') > -1 }">3</td>
							<td data-date="2016-10-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-04') > -1 }">4</td>
							<td data-date="2016-10-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-05') > -1 }">5</td>
							<td data-date="2016-10-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-06') > -1 }">6</td>
							<td data-date="2016-10-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-07') > -1 }">7</td>
							<td data-date="2016-10-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-08') > -1 }">8</td>
						</tr>
						<tr>
							<td data-date="2016-10-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-09') > -1 }">9</td>
							<td data-date="2016-10-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-10') > -1 }">10</td>
							<td data-date="2016-10-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-11') > -1 }">11</td>
							<td data-date="2016-10-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-12') > -1 }">12</td>
							<td data-date="2016-10-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-13') > -1 }">13</td>
							<td data-date="2016-10-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-14') > -1 }">14</td>
							<td data-date="2016-10-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-15') > -1 }">15</td>
						</tr>
						<tr>
							<td data-date="2016-10-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-16') > -1 }">16</td>
							<td data-date="2016-10-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-17') > -1 }">17</td>
							<td data-date="2016-10-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-18') > -1 }">18</td>
							<td data-date="2016-10-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-19') > -1 }">19</td>
							<td data-date="2016-10-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-20') > -1 }">20</td>
							<td data-date="2016-10-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-21') > -1 }">21</td>
							<td data-date="2016-10-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-22') > -1 }">22</td>
						</tr>
						<tr>
							<td data-date="2016-10-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-23') > -1 }">23</td>
							<td data-date="2016-10-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-24') > -1 }">24</td>
							<td data-date="2016-10-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-25') > -1 }">25</td>
							<td data-date="2016-10-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-26') > -1 }">26</td>
							<td data-date="2016-10-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-27') > -1 }">27</td>
							<td data-date="2016-10-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-28') > -1 }">28</td>
							<td data-date="2016-10-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-29') > -1 }">29</td>
						</tr>
						<tr>
							<td data-date="2016-10-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-30') > -1 }">30</td>
							<td data-date="2016-10-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-31') > -1 }">31</td>
							<td data-date="2016-11-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-01') > -1 }">1</td>
							<td data-date="2016-11-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-02') > -1 }">2</td>
							<td data-date="2016-11-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-03') > -1 }">3</td>
							<td data-date="2016-11-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-04') > -1 }">4</td>
							<td data-date="2016-11-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-05') > -1 }">5</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'November' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-10-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-30') > -1 }">30</td>
				      <td data-date="2016-10-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-10-31') > -1 }">31</td>
				      <td data-date="2016-11-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-01') > -1 }">1</td>
				      <td data-date="2016-11-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-02') > -1 }">2</td>
				      <td data-date="2016-11-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-03') > -1 }">3</td>
				      <td data-date="2016-11-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-04') > -1 }">4</td>
				      <td data-date="2016-11-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-05') > -1 }">5</td>
				    </tr>
						<tr>
							<td data-date="2016-11-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-06') > -1 }">6</td>
							<td data-date="2016-11-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-07') > -1 }">7</td>
							<td data-date="2016-11-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-08') > -1 }">8</td>
							<td data-date="2016-11-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-09') > -1 }">9</td>
							<td data-date="2016-11-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-10') > -1 }">10</td>
							<td data-date="2016-11-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-11') > -1 }">11</td>
							<td data-date="2016-11-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-12') > -1 }">12</td>
						</tr>
						<tr>
							<td data-date="2016-11-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-13') > -1 }">13</td>
							<td data-date="2016-11-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-14') > -1 }">14</td>
							<td data-date="2016-11-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-15') > -1 }">15</td>
							<td data-date="2016-11-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-16') > -1 }">16</td>
							<td data-date="2016-11-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-17') > -1 }">17</td>
							<td data-date="2016-11-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-18') > -1 }">18</td>
							<td data-date="2016-11-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-19') > -1 }">19</td>
						</tr>
						<tr>
							<td data-date="2016-11-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-20') > -1 }">20</td>
							<td data-date="2016-11-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-21') > -1 }">21</td>
							<td data-date="2016-11-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-22') > -1 }">22</td>
							<td data-date="2016-11-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-23') > -1 }">23</td>
							<td data-date="2016-11-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-24') > -1 }">24</td>
							<td data-date="2016-11-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-25') > -1 }">25</td>
							<td data-date="2016-11-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-26') > -1 }">26</td>
						</tr>
						<tr>
							<td data-date="2016-11-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-27') > -1 }">27</td>
							<td data-date="2016-11-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-28') > -1 }">28</td>
							<td data-date="2016-11-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-29') > -1 }">29</td>
							<td data-date="2016-11-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-30') > -1 }">30</td>
							<td data-date="2016-12-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-01') > -1 }">1</td>
							<td data-date="2016-12-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-02') > -1 }">2</td>
							<td data-date="2016-12-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-03') > -1 }">3</td>
						</tr>
						<tr>
							<td data-date="2016-12-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-04') > -1 }">4</td>
							<td data-date="2016-12-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-05') > -1 }">5</td>
							<td data-date="2016-12-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-06') > -1 }">6</td>
							<td data-date="2016-12-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-07') > -1 }">7</td>
							<td data-date="2016-12-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-08') > -1 }">8</td>
							<td data-date="2016-12-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-09') > -1 }">9</td>
							<td data-date="2016-12-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-10') > -1 }">10</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'December' && year == 2016" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2016-11-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-27') > -1 }">27</td>
				      <td data-date="2016-11-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-28') > -1 }">28</td>
				      <td data-date="2016-11-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-29') > -1 }">29</td>
				      <td data-date="2016-11-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-11-30') > -1 }">30</td>
				      <td data-date="2016-12-01" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-01') > -1 }">1</td>
				      <td data-date="2016-12-02" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-02') > -1 }">2</td>
				      <td data-date="2016-12-03" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-03') > -1 }">3</td>
				    </tr>
						<tr>
							<td data-date="2016-12-04" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-04') > -1 }">4</td>
							<td data-date="2016-12-05" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-05') > -1 }">5</td>
							<td data-date="2016-12-06" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-06') > -1 }">6</td>
							<td data-date="2016-12-07" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-07') > -1 }">7</td>
							<td data-date="2016-12-08" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-08') > -1 }">8</td>
							<td data-date="2016-12-09" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-09') > -1 }">9</td>
							<td data-date="2016-12-10" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-10') > -1 }">10</td>
						</tr>
						<tr>
							<td data-date="2016-12-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-11') > -1 }">11</td>
							<td data-date="2016-12-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-12') > -1 }">12</td>
							<td data-date="2016-12-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-13') > -1 }">13</td>
							<td data-date="2016-12-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-14') > -1 }">14</td>
							<td data-date="2016-12-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-15') > -1 }">15</td>
							<td data-date="2016-12-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-16') > -1 }">16</td>
							<td data-date="2016-12-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-17') > -1 }">17</td>
						</tr>
						<tr>
							<td data-date="2016-12-18" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-18') > -1 }">18</td>
							<td data-date="2016-12-19" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-19') > -1 }">19</td>
							<td data-date="2016-12-20" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-20') > -1 }">20</td>
							<td data-date="2016-12-21" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-21') > -1 }">21</td>
							<td data-date="2016-12-22" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-22') > -1 }">22</td>
							<td data-date="2016-12-23" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-23') > -1 }">23</td>
							<td data-date="2016-12-24" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-24') > -1 }">24</td>
						</tr>
						<tr>
							<td data-date="2016-12-25" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-25') > -1 }">25</td>
							<td data-date="2016-12-26" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-26') > -1 }">26</td>
							<td data-date="2016-12-27" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-27') > -1 }">27</td>
							<td data-date="2016-12-28" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-28') > -1 }">28</td>
							<td data-date="2016-12-29" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-29') > -1 }">29</td>
							<td data-date="2016-12-30" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-30') > -1 }">30</td>
							<td data-date="2016-12-31" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-31') > -1 }">31</td>
						</tr>
						<tr>
							<td data-date="2017-01-01" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-01') > -1 }">1</td>
							<td data-date="2017-01-02" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-02') > -1 }">2</td>
							<td data-date="2017-01-03" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-03') > -1 }">3</td>
							<td data-date="2017-01-04" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-04') > -1 }">4</td>
							<td data-date="2017-01-05" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-05') > -1 }">5</td>
							<td data-date="2017-01-06" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-06') > -1 }">6</td>
							<td data-date="2017-01-07" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-07') > -1 }">7</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'January' && year == 2017" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2017-01-01" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-01') > -1 }">1</td>
				      <td data-date="2017-01-02" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-02') > -1 }">2</td>
				      <td data-date="2017-01-03" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-03') > -1 }">3</td>
				      <td data-date="2017-01-04" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-04') > -1 }">4</td>
				      <td data-date="2017-01-05" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-05') > -1 }">5</td>
				      <td data-date="2017-01-06" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-06') > -1 }">6</td>
				      <td data-date="2017-01-07" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-07') > -1 }">7</td>
				    </tr>
						<tr>
							<td data-date="2017-01-08" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-08') > -1 }">8</td>
							<td data-date="2017-01-09" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-09') > -1 }">9</td>
							<td data-date="2017-01-10" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-10') > -1 }">10</td>
							<td data-date="2017-01-11" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-11') > -1 }">11</td>
							<td data-date="2017-01-12" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-12') > -1 }">12</td>
							<td data-date="2017-01-13" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-13') > -1 }">13</td>
							<td data-date="2017-01-14" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-14') > -1 }">14</td>
						</tr>
						<tr>
							<td data-date="2016-12-11" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-11') > -1 }">11</td>
							<td data-date="2016-12-12" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-12') > -1 }">12</td>
							<td data-date="2016-12-13" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-13') > -1 }">13</td>
							<td data-date="2016-12-14" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-14') > -1 }">14</td>
							<td data-date="2016-12-15" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-15') > -1 }">15</td>
							<td data-date="2016-12-16" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-16') > -1 }">16</td>
							<td data-date="2016-12-17" ng-class="{ 'red': employee.conflictDates.indexOf('2016-12-17') > -1 }">17</td>
						</tr>
						<tr>
							<td data-date="2017-01-15" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-15') > -1 }">15</td>
							<td data-date="2017-01-16" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-16') > -1 }">16</td>
							<td data-date="2017-01-17" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-17') > -1 }">17</td>
							<td data-date="2017-01-18" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-18') > -1 }">18</td>
							<td data-date="2017-01-19" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-19') > -1 }">19</td>
							<td data-date="2017-01-20" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-20') > -1 }">20</td>
							<td data-date="2017-01-21" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-21') > -1 }">21</td>
						</tr>
						<tr>
							<td data-date="2017-01-22" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-22') > -1 }">22</td>
							<td data-date="2017-01-23" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-23') > -1 }">23</td>
							<td data-date="2017-01-24" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-24') > -1 }">24</td>
							<td data-date="2017-01-25" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-25') > -1 }">25</td>
							<td data-date="2017-01-26" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-26') > -1 }">26</td>
							<td data-date="2017-01-27" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-27') > -1 }">27</td>
							<td data-date="2017-01-28" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-28') > -1 }">28</td>
						</tr>
						<tr>
							<td data-date="2017-01-29" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-29') > -1 }">29</td>
							<td data-date="2017-01-30" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-30') > -1 }">30</td>
							<td data-date="2017-01-31" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-31') > -1 }">31</td>
							<td data-date="2017-02-01" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-01') > -1 }">1</td>
							<td data-date="2017-02-02" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-02') > -1 }">2</td>
							<td data-date="2017-02-03" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-03') > -1 }">3</td>
							<td data-date="2017-02-04" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-04') > -1 }">4</td>
						</tr>
				  </tbody>
				</table>
				<table ng-show="current === 'February' && year == 2017" class="calendar table table-bordered">
				  <thead>
				    <tr>
				    	<th>Sun</th>
				    	<th>Mon</th>
				    	<th>Tue</th>
				    	<th>Wed</th>
				    	<th>Thu</th>
				    	<th>Fri</th>
				    	<th>Sat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-date="2017-01-29" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-29') > -1 }">29</td>
				      <td data-date="2017-01-30" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-30') > -1 }">30</td>
				      <td data-date="2017-01-31" ng-class="{ 'red': employee.conflictDates.indexOf('2017-01-31') > -1 }">31</td>
				      <td data-date="2017-02-01" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-01') > -1 }">1</td>
				      <td data-date="2017-02-02" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-02') > -1 }">2</td>
				      <td data-date="2017-02-03" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-03') > -1 }">3</td>
				      <td data-date="2017-02-04" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-04') > -1 }">4</td>
				    </tr>
						<tr>
							<td data-date="2017-02-05" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-05') > -1 }">5</td>
							<td data-date="2017-02-06" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-06') > -1 }">6</td>
							<td data-date="2017-02-07" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-07') > -1 }">7</td>
							<td data-date="2017-02-08" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-08') > -1 }">8</td>
							<td data-date="2017-02-09" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-09') > -1 }">9</td>
							<td data-date="2017-02-10" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-10') > -1 }">10</td>
							<td data-date="2017-02-11" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-11') > -1 }">11</td>
						</tr>
						<tr>
							<td data-date="2017-02-12" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-12') > -1 }">12</td>
							<td data-date="2017-02-13" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-13') > -1 }">13</td>
							<td data-date="2017-02-14" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-14') > -1 }">14</td>
							<td data-date="2017-02-15" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-15') > -1 }">15</td>
							<td data-date="2017-02-16" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-16') > -1 }">16</td>
							<td data-date="2017-02-17" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-17') > -1 }">17</td>
							<td data-date="2017-02-18" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-18') > -1 }">18</td>
						</tr>
						<tr>
							<td data-date="2017-02-19" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-19') > -1 }">19</td>
							<td data-date="2017-02-20" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-20') > -1 }">20</td>
							<td data-date="2017-02-21" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-21') > -1 }">21</td>
							<td data-date="2017-02-22" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-22') > -1 }">22</td>
							<td data-date="2017-02-23" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-23') > -1 }">23</td>
							<td data-date="2017-02-24" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-24') > -1 }">24</td>
							<td data-date="2017-02-25" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-25') > -1 }">25</td>
						</tr>
						<tr>
							<td data-date="2017-02-26" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-26') > -1 }">26</td>
							<td data-date="2017-02-27" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-27') > -1 }">27</td>
							<td data-date="2017-02-28" ng-class="{ 'red': employee.conflictDates.indexOf('2017-02-28') > -1 }">28</td>
							<td data-date="2017-03-01" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-01') > -1 }">1</td>
							<td data-date="2017-03-02" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-02') > -1 }">2</td>
							<td data-date="2017-03-03" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-03') > -1 }">3</td>
							<td data-date="2017-03-04" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-04') > -1 }">4</td>
						</tr>
						<tr>
							<td data-date="2017-03-05" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-05') > -1 }">5</td>
							<td data-date="2017-03-06" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-06') > -1 }">6</td>
							<td data-date="2017-03-07" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-07') > -1 }">7</td>
							<td data-date="2017-03-08" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-08') > -1 }">8</td>
							<td data-date="2017-03-09" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-09') > -1 }">9</td>
							<td data-date="2017-03-10" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-10') > -1 }">10</td>
							<td data-date="2017-03-11" ng-class="{ 'red': employee.conflictDates.indexOf('2017-03-11') > -1 }">11</td>
						</tr>
				  </tbody>
				</table>
			</div>

		</div>

		<!-- <div class="col-sm-4">
			<ul>
				<li ng-repeat="employee in employees" >{{employee.picture}} {{employee.first_name}} {{employee.last_name}}</li>
			</ul>
		</div> -->

			<div class="col-sm-4" style="border-left: 1px solid black">
				<div class="employee-list">
					<ul> <!-- need to hide admin from employee list -->
						<li ng-click="selected()" class="employee-individual" ng-repeat="employee in employees">
							<img ng-src="{{employee.picture}}">{{employee.first_name}} {{employee.last_name}} <span ng-show="employee.admin"> -- ADMIN</span>
						</li>
					</ul>
				</div>
			</div>

	</div>
</div>







