<div id="home">
<div class="overlay"></div>
	<navigation></navigation>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<p class="centered" style="color: #051E51;font-size: 3rem;font-weight: 900;margin-top: 10rem;">"No more spreadsheets, no more excel, no more headaches..."</p>
				<p class="centered" style="font-size: 1.25rem;margin-top: 1rem;">A scheduling app designed for teams of any size with any amount of shift conflicts. <br> Schedules built automatically with even distribution, at the click of a button.</p>
			</div>
		</div>
	</div>
</div>