<div id="home">
	<div class="overlay"></div>
	<navigation></navigation>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<p class="centered hero-text">"No more spreadsheets, no more excel, no more headaches..."</p>
				<p class="centered explaination-text">A scheduling app designed for teams of any size with any amount of shift conflicts. <br> Schedules built <span>automatically</span> with <span>even distribution</span>, at the click of a button.</p>
			</div>
		</div>
	</div>
</div>