<navigation></navigation>
	<!-- {{conflicts}} -->
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12">
			<nav class="employee-nav navbar navbar-default">
			  <div class="container-fluid">
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				  </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav">
			    		<li ng-click="editing()"><a>Edit Your Information</a></li>
			    		<li ng-click="adding()"><a>Add Scheduling Conflicts</a></li>
			    		<li ng-click="adding()"><a>Add Scheduling Conflicts Bulk</a></li>
			    		<!-- <li>{{dateChosen}}</li> -->
			    	</ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">

				<form ng-submit="edit()" class="edit-employee form-horizontal">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-4">
									<p ng-show="selection == false">
										To edit an employee, select one from the list on the right.
									</p>
									<img ng-src="{{employee.picture}}">
									<!-- <p>{{datePicked1}}</p> -->
								</div>
								<div class="col-xs-8">
									<div class="row form-group">
										<div class="col-xs-6">
											<input ng-model="employee.first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
										</div>
										<div class="col-xs-6">
											<input ng-model="employee.last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-6">
											<input ng-model="employee.email" type="text" class="form-control" id="email" placeholder="Email">
										</div>
										<div class="col-xs-6">
											<input ng-model="employee.phone" type="text" class="form-control" id="phone" placeholder="Phone">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-12">
											<input  ng-model="employee.picture" type="text" class="form-control" id="picture" placeholder="Picture (url or file)">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-12">
											<textarea class="form-control" rows="3" id="notes" placeholder="Notes"></textarea>
										</div>
									</div>
								</div> <!-- end col-xs-8 -->
							</div> <!-- end row -->
						</div> <!-- end col-xs-12 -->
					</div> <!-- end row -->
				<br><br>
					<div class="row form-group">
						<div class="col-xs-12">
							<button type="button" class="btn btn-default pull-right">Cancel</button>
						  <button type="submit" class="btn btn-default pull-right">Edit Information</button>
						</div>
					</div>
				</form>

				<!-- 				
				<div class="schedule-conflicts form-horizontal">
					<div class="form-group">
					    <label for="" class="col-sm-3 control-label" style="text-align: right">Schedule Conflicts</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="" placeholder="dd/mm/yyyy, dd/mm/yyyy, dd/mm/yyyy">
					    </div>
				  </div>
				  <div class="form-group">
				  	<label for="" class="col-sm-3 control-label" style="text-align: right">On Call</label>
				  	<div class="col-sm-9">
				  	  <input type="text" class="form-control" id="" placeholder="dd/mm/yyyy, dd/mm/yyyy, dd/mm/yyyy">
				  	</div>
				  </div>
				</div>
				-->

				<div class="schedule-conflicts form-horizontal">
					<!-- <div class="form-group"> -->
						<ul>
							<li ng-repeat="conflict in conflicts">
								<!-- <span>delete</span> -->
								<!-- <input type="checkbox"> -->
								<button ng-show="!conflict.remove" ng-click="remove()" type="button" class="btn btn-danger btn-xs">Remove Date</button>
								<button ng-show="conflict.remove" ng-click="keep()" type="button" class="btn btn-success btn-xs">Add Date Again</button>
								<span ng-class="{strikethrough: conflict.remove == true}" class="form-control-static">{{conflict.date | date:'EEEE, MMMM d, y'}}</span> 
								<!-- <button type="button" class="btn btn-danger btn-xs">Cancel</button> -->
							</li>
						</ul>
					<!-- </div> -->
				</div>

		</div>

		<!-- move employee-list to 'col-sm-4' div and add the style="border-left: 1px solid black" -->
<!-- 		<div class="col-sm-4" style="border-left: 1px solid black;">

				<div style="overflow:hidden">
				    <div class="form-group">
				        <div class="row">
				            <div class="col-xs-12">
				                <div id="datetimepicker12" style="border: 1px solid black; border-radius: 4px;"></div>
				            </div>
				        </div>
				    </div>
				    <script type="text/javascript">
				        $(document).ready(function() {
				            $('#datetimepicker12').datetimepicker({
				            		toolbarPlacement: 'bottom',
				                inline: true
				            });
				            $(document).on('click', 'td', function(){
				            	console.log(this);
				            });
				        });
				    </script>
				</div>

		</div> -->

								<div class='col-sm-4' style="border-left: 1px solid black;">
									<form class="form form-horizontal" novalidate>
										<div class="form-group">
											<div class="col-xs-12">
											<div
												 dpicker
									       datetimepicker-options="{inline:true, debug:true}"
									       >
									       <input type="text" class="form-control">
									       </div>
											</div>
										</div>
									</form>
									<div class="legend">
										<ul>
											<li><div id="red"></div> = schedule conflict</li>
											<li><div id="blue"></div> = current date</li>
											<li><div id="orange"></div> = you are scheduled to be on call on this date</li>
										</ul>
									</div>
								</div>
						
				
				</div> <!-- end row -->
				
		

	</div>
</div>
