<navigation></navigation>
	{{employee}}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12">
			<nav class="employee-nav navbar navbar-default">
			  <div class="container-fluid">
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				  </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav">
			    		<li ng-click="editing()"><a>Edit Your Information</a></li>
			    		<li ng-click="adding()"><a>Add Scheduling Conflicts</a></li>
			    		<li ng-click="adding()"><a>Add Scheduling Conflicts Bulk</a></li>
			    		<!-- <li>{{dateChosen}}</li> -->
			    	</ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>

	{{day}}

	<div class="row">
		<div class="col-sm-8">

				<form ng-submit="edit()" class="edit-employee form-horizontal">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-4">
									<p ng-show="selection == false">
										To edit an employee, select one from the list on the right.
									</p>
									<img ng-src="{{employee.picture}}">
									<!-- <p>{{datePicked1}}</p> -->
								</div>
								<div class="col-xs-8">
									<div class="row form-group">
										<div class="col-xs-6">
											<input ng-model="employee.first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
										</div>
										<div class="col-xs-6">
											<input ng-model="employee.last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-6">
											<input ng-model="employee.email" type="text" class="form-control" id="email" placeholder="Email">
										</div>
										<div class="col-xs-6">
											<input ng-model="employee.phone" type="text" class="form-control" id="phone" placeholder="Phone">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-12">
											<input  ng-model="employee.picture" type="text" class="form-control" id="picture" placeholder="Picture (url or file)">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-xs-12">
											<textarea class="form-control" rows="3" id="notes" placeholder="Notes"></textarea>
										</div>
									</div>
								</div> <!-- end col-xs-8 -->
							</div> <!-- end row -->
						</div> <!-- end col-xs-12 -->
					</div> <!-- end row -->
				<br><br>
					<div class="row form-group">
						<div class="col-xs-12">
							<button type="button" class="btn btn-default pull-right">Cancel</button>
						  <button type="submit" class="btn btn-default pull-right">Edit Information</button>
						</div>
					</div>
				</form>
				<div class="schedule-conflicts form-horizontal">
					<!-- <div class="form-group"> -->
						<ul>
							<li ng-repeat="conflict in employee.conflicts">
								<!-- <span>delete</span> -->
								<!-- <input type="checkbox"> -->
								<button ng-show="!conflict.remove" ng-click="remove()" type="button" class="btn btn-danger btn-xs">Remove Date</button>
								<button ng-show="conflict.remove" ng-click="keep()" type="button" class="btn btn-success btn-xs">Add Date Again</button>
								<span ng-class="{strikethrough: conflict.remove == true}" class="form-control-static">{{conflict.date | date:'EEEE, MMMM d, y'}}</span> 
								<!-- <button type="button" class="btn btn-danger btn-xs">Cancel</button> -->
							</li>
						</ul>
					<!-- </div> -->
				</div>

				<!-- 				
				<div class="schedule-conflicts form-horizontal">
					<div class="form-group">
					    <label for="" class="col-sm-3 control-label" style="text-align: right">Schedule Conflicts</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="" placeholder="dd/mm/yyyy, dd/mm/yyyy, dd/mm/yyyy">
					    </div>
				  </div>
				  <div class="form-group">
				  	<label for="" class="col-sm-3 control-label" style="text-align: right">On Call</label>
				  	<div class="col-sm-9">
				  	  <input type="text" class="form-control" id="" placeholder="dd/mm/yyyy, dd/mm/yyyy, dd/mm/yyyy">
				  	</div>
				  </div>
				</div>
				-->

				<div class="schedule-conflicts form-horizontal">
					<!-- <div class="form-group"> -->
						<ul>
							<li ng-repeat="conflict in conflicts">
								<!-- <span>delete</span> -->
								<!-- <input type="checkbox"> -->
								<button ng-show="!conflict.remove" ng-click="remove()" type="button" class="btn btn-danger btn-xs">Remove Date</button>
								<button ng-show="conflict.remove" ng-click="keep()" type="button" class="btn btn-success btn-xs">Add Date Again</button>
								<span ng-class="{strikethrough: conflict.remove == true}" class="form-control-static">{{conflict.date | date:'EEEE, MMMM d, y'}}</span> 
								<!-- <button type="button" class="btn btn-danger btn-xs">Cancel</button> -->
							</li>
						</ul>
					<!-- </div> -->
				</div>

		</div>

		<!-- move employee-list to 'col-sm-4' div and add the style="border-left: 1px solid black" -->
<!-- 		<div class="col-sm-4" style="border-left: 1px solid black;">

				<div style="overflow:hidden">
				    <div class="form-group">
				        <div class="row">
				            <div class="col-xs-12">
				                <div id="datetimepicker12" style="border: 1px solid black; border-radius: 4px;"></div>
				            </div>
				        </div>
				    </div>
				    <script type="text/javascript">
				        $(document).ready(function() {
				            $('#datetimepicker12').datetimepicker({
				            		toolbarPlacement: 'bottom',
				                inline: true
				            });
				            $(document).on('click', 'td', function(){
				            	console.log(this);
				            });
				        });
				    </script>
				</div>

		</div> -->

								<div class='col-sm-4' style="border-left: 1px solid black;">
									<form class="form form-horizontal" novalidate>
										<div class="form-group">
											<div class="col-xs-12">
											<!-- <div
												 dpicker
												 day="td.day"
									       datetimepicker-options="{inline:true, debug:true}"
									       >
									       <input type="text" class="form-control">
									       </div> -->

												<!-- <div ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar">
											</div> -->
											<ul class="calendar-header centered">
												<li><i ng-click="previousMonth(counter)" class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
												<li><h4 ng-click="currentMonth()" class="centered">{{ current | date:'MMMM'}}</h4></li>
												<li><i ng-click="nextMonth(counter)" class="fa fa-angle-right fa-2x" aria-hidden="true"></i></li>
											</ul>
											<table ng-show="current === 'May'" class="centered table table-bordered">
											  <thead>
											    <tr>
											    	<th class="centered">Sun</th>
											    	<th class="centered">Mon</th>
											    	<th class="centered">Tue</th>
											    	<th class="centered">Wed</th>
											    	<th class="centered">Thu</th>
											    	<th class="centered">Fri</th>
											    	<th class="centered">Sat</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td class="May current 2016-05-1 centered">1</td>
											    	<td class="May current 2016-05-2 centered">2</td>
											    	<td class="May current 2016-05-3 centered">3</td>
											    	<td class="June curent 2016-06-4 centered">4</td>
											    	<td class="June curent 2016-06-5 centered">5</td>
											    	<td class="June curent 2016-06-6 centered">6</td>
											    	<td class="June curent 2016-06-7 centered">7</td>
											    </tr>
											   <tr>
											    <td class="centered">8</td>
											   	<td class="centered">9</td>
											   	<td class="centered">10</td>
											   	<td class="centered">11</td>
											   	<td class="centered">12</td>
											   	<td class="centered">13</td>
											   	<td class="centered">14</td>
											   </tr>
											    <tr>
											    <td class="centered">15</td>
											   	<td class="centered">16</td>
											   	<td class="centered">17</td>
											   	<td class="centered">18</td>
											   	<td class="centered">19</td>
											   	<td class="centered">20</td>
											   	<td class="centered">21</td>
											   </tr>
											   <tr>
											    <td class="centered">22</td>
											   	<td class="centered">23</td>
											   	<td class="centered">24</td>
											   	<td class="centered">25</td>
											   	<td class="centered">26</td>
											   	<td class="centered">27</td>
											   	<td class="centered">28</td>
											   </tr>
											   <tr>
											    <td class="centered">29</td>
											   	<td class="centered">30</td>
											   	<td class="centered">31</td>
											   	<td class="centered">1</td>
											   	<td class="centered">2</td>
											   	<td class="centered">3</td>
											   	<td class="centered">4</td>
											   </tr>
											   <tr>
											    <td class="centered">3</td>
											   	<td class="centered">4</td>
											   	<td class="centered">5</td>
											   	<td class="centered">6</td>
											   	<td class="centered">7</td>
											   	<td class="centered">7</td>
											   	<td class="centered">9</td>
											   </tr>
											  </tbody>
											</table>
											<table ng-show="current === 'June'" class="centered table table-bordered">
											  <thead>
											    <tr>
											    	<th>Sun</th>
											    	<th>Mon</th>
											    	<th>Tue</th>
											    	<th>Wed</th>
											    	<th>Thu</th>
											    	<th>Fri</th>
											    	<th>Sat</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td class="May previous 2016-05-29">29</td>
											    	<td class="May previous 2016-05-30">30</td>
											    	<td class="May previous 2016-05-31">31</td>
											    	<td class="June curent 2016-06-1">1</td>
											    	<td class="June curent 2016-06-2">2</td>
											    	<td class="June curent 2016-06-3">3</td>
											    	<td class="June curent 2016-06-4">4</td>
											    </tr>
											   <tr>
											    <td>5</td>
											   	<td>6</td>
											   	<td>7</td>
											   	<td>8</td>
											   	<td>9</td>
											   	<td>10</td>
											   	<td>11</td>
											   </tr>
											    <tr>
											    <td>12</td>
											   	<td>13</td>
											   	<td>14</td>
											   	<td>15</td>
											   	<td>16</td>
											   	<td>17</td>
											   	<td>18</td>
											   </tr>
											   <tr>
											    <td>19</td>
											   	<td>20</td>
											   	<td>21</td>
											   	<td>22</td>
											   	<td>23</td>
											   	<td>24</td>
											   	<td>25</td>
											   </tr>
											   <tr>
											    <td>26</td>
											   	<td>27</td>
											   	<td>28</td>
											   	<td>29</td>
											   	<td>30</td>
											   	<td>1</td>
											   	<td>1</td>
											   </tr>
											   <tr>
											    <td>3</td>
											   	<td>4</td>
											   	<td>5</td>
											   	<td>6</td>
											   	<td>7</td>
											   	<td>7</td>
											   	<td>9</td>
											   </tr>
											  </tbody>
											</table>
											<table ng-show="current === 'July'" class="centered table table-bordered">
											  <thead>
											    <tr>
											    	<th>Sun</th>
											    	<th>Mon</th>
											    	<th>Tue</th>
											    	<th>Wed</th>
											    	<th>Thu</th>
											    	<th>Fri</th>
											    	<th>Sat</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td>26</td>
											    	<td>27</td>
											    	<td>28</td>
											    	<td>29</td>
											    	<td>30</td>
											    	<td>1</td>
											    	<td>2</td>
											    </tr>
											   <tr>
											    <td>3</td>
											   	<td>4</td>
											   	<td>5</td>
											   	<td>6</td>
											   	<td>7</td>
											   	<td>8</td>
											   	<td>9</td>
											   </tr>
											    <tr>
											    <td>10</td>
											   	<td>11</td>
											   	<td>12</td>
											   	<td>13</td>
											   	<td>14</td>
											   	<td>15</td>
											   	<td>16</td>
											   </tr>
											   <tr>
											    <td>17</td>
											   	<td>18</td>
											   	<td>19</td>
											   	<td>20</td>
											   	<td>21</td>
											   	<td>22</td>
											   	<td>23</td>
											   </tr>
											   <tr>
											    <td>24</td>
											   	<td>25</td>
											   	<td>26</td>
											   	<td>27</td>
											   	<td>28</td>
											   	<td>29</td>
											   	<td>30</td>
											   </tr>
											   <tr>
											    <td>31</td>
											   	<td>1</td>
											   	<td>2</td>
											   	<td>3</td>
											   	<td>4</td>
											   	<td>5</td>
											   	<td>6</td>
											   </tr>
											  </tbody>
											</table>
											<table ng-show="current === 'August'" class="centered table table-bordered">
											  <thead>
											    <tr>
											    	<th>Sun</th>
											    	<th>Mon</th>
											    	<th>Tue</th>
											    	<th>Wed</th>
											    	<th>Thu</th>
											    	<th>Fri</th>
											    	<th>Sat</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr>
											      <td>31</td>
											    	<td>1</td>
											    	<td>2</td>
											    	<td>3</td>
											    	<td>4</td>
											    	<td>5</td>
											    	<td>6</td>
											    </tr>
											   <tr>
											    <td>7</td>
											   	<td>8</td>
											   	<td>9</td>
											   	<td>10</td>
											   	<td>11</td>
											   	<td>12</td>
											   	<td>13</td>
											   </tr>
											    <tr>
											    <td>14</td>
											   	<td>15</td>
											   	<td>16</td>
											   	<td>17</td>
											   	<td>18</td>
											   	<td>19</td>
											   	<td>20</td>
											   </tr>
											   <tr>
											    <td>21</td>
											   	<td>22</td>
											   	<td>23</td>
											   	<td>24</td>
											   	<td>25</td>
											   	<td>26</td>
											   	<td>27</td>
											   </tr>
											   <tr>
											    <td>28</td>
											   	<td>29</td>
											   	<td>30</td>
											   	<td>31</td>
											   	<td>1</td>
											   	<td>2</td>
											   	<td>3</td>
											   </tr>
											   <tr>
											    <td>4</td>
											   	<td>5</td>
											   	<td>6</td>
											   	<td>7</td>
											   	<td>8</td>
											   	<td>9</td>
											   	<td>10</td>
											   </tr>
											  </tbody>
											</table>



										</div>
									</form>
									<!-- <div class="legend">
										<ul>
											<li><div id="red"></div> = schedule conflict</li>
											<li><div id="blue"></div> = current date</li>
											<li><div id="orange"></div> = you are scheduled to be on call on this date</li>
										</ul>
									</div> -->
								</div>
						
				
				</div> <!-- end row -->
				
		

	</div>
</div>


{{calendar}}
