<div id="signup">
	<navigation></navigation>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<h2 class="centered">automated scheduling in a few clicks</h2>

			<br>
				
				<form name="signUpForm" ng-submit="signUp()" class="form-horizontal">

				  <div class="form-group">
				    <label for="company" class="col-sm-2 control-label" style="text-align: left">Company</label>
				    <div class="col-sm-10">
				      <input ng-model="user.company" type="text" class="form-control" name="company" id="company" placeholder="Company Name" required>
				      <p class="red" ng-hide="signUpForm.company.$pristine || signUpForm.company.$valid">This field is required!</p>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="email" class="col-sm-2 control-label" style="text-align: left">Email</label>
				    <div class="col-sm-10">
				      <input ng-model="user.email" type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
				      <p class="red" ng-hide="signUpForm.email.$pristine || signUpForm.email.$valid">This field is required!</p>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="first_name" class="col-sm-2 control-label" style="text-align: left">Name</label>
				    <div class="col-sm-5">
				      <input  ng-model="user.first_name" type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
				      <p class="red" ng-hide="signUpForm.first_name.$pristine || signUpForm.first_name.$valid">This field is required!</p>
				    </div>
				    <div class="col-sm-5">
				      <input ng-model="user.last_name" type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required>
				      <p class="red" ng-hide="signUpForm.last_name.$pristine || signUpForm.last_name.$valid">This field is required!</p>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="password" class="col-sm-2 control-label" style="text-align: left">Password</label>
				    <div class="col-sm-10">
				      <input ng-model="user.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
				      <p class="red" ng-hide="signUpForm.password.$pristine || signUpForm.password.$valid">This field is required!</p>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-2">
				      <button type="submit" class="btn btn-default">Sign Up</button>
				    </div>
				    <div class="col-sm-8">
				      <p class="form-control-static pull-right">Already scheduling with us? <a ng-href="#/login">Log in here.</a></p>
				    </div>
				  </div>

				</form>

			</div>
		</div>
	</div>
</div>