/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). home || landing page
	4). signup
	5). login
	6). employees
	7). profile

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ----- color palette ----- */

	$dark-blue: #051E51;
	$colbalt: #336FA5;
	$colbalt-light: #4C8ABA;
	$pale-blue: #6DA6CC;
	$pale-blue-1: #87B9D8;
	$pale-blue-2: #9FC9E1;
	$off-white: #E7F2F8;

/* ------ universal ------- */

	html {
		font-size:16px;
	}

	body {
		background: $off-white;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
		font-family: 'Roboto', sans-serif;
	}

	p {
		font-family: 'Raleway', sans-serif;	
	}

	a:hover {
		text-decoration: none;
	}

	.ng-cloak {
		display: none;
	}
	
	.green {
		background: green;
	}

	.red {
		background: red;
	}

	.centered {
		text-align: center;
	}

	.strikethrough {
	  text-decoration: line-through;
	}

	.wrapper {
		margin: 0 1rem;
	}

/* ------ navbar ------- */

	/* navbar */
	.navbar-default {
	    background-color: black;
	    border-color: black;
	}
	/* title */
	.navbar-default .navbar-brand {
	    color: $colbalt;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
	    color: $dark-blue;
	}
	/* link */
	.navbar-default .navbar-nav > li > a {
	    color: $colbalt;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	    color: $dark-blue;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: $dark-blue;
	    background-color: darken($off-white, 5%);
	    border-radius: 4px;
	}
	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus {
	    color: #555;
	    background-color: #D5D5D5;
	}
	/* caret */
	.navbar-default .navbar-nav > .dropdown > a .caret {
	    border-top-color: #777;
	    border-bottom-color: #777;
	}
	.navbar-default .navbar-nav > .dropdown > a:hover .caret,
	.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	    border-top-color: $dark-blue;
	    border-bottom-color: $dark-blue;
	}
	.navbar-default .navbar-nav > .open > a .caret, 
	.navbar-default .navbar-nav > .open > a:hover .caret, 
	.navbar-default .navbar-nav > .open > a:focus .caret {
	    border-top-color: #555;
	    border-bottom-color: #555;
	}
	/* mobile version */
	.navbar-default .navbar-toggle {
	    border-color: #DDD;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	    background-color: #DDD;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #CCC;
	}
	@media (max-width: 767px) {
	    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	        color: #777;
	    }
	    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	        color: #333;
	    }
	}

	.navbar {
		background: none;
		border: none;
		border-radius: 0;
	}

/* ---- home || landing page ---- */
	
	#home {
		height: 100vh;
	  background: url('http://i.huffpost.com/gen/1065676/images/o-HOSPITAL-HALLWAY-facebook.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  position: relative;

			.overlay {
				background: rgba(255,255,255,0.6);
				position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: none;
		    color: #FFF;
		    display: block;
			}

	}

	.hero-text {
		color: $dark-blue;
		font-size: 3rem;
		font-weight: 900;
		margin-top: 10rem;
	}

	.explaination-text {
		span {
			color: $colbalt;
		}
		color: $dark-blue;
		font-size: 1.5rem;
		font-weight: 900;
		margin-top: 2rem;
	}

/* --------- signup --------- */

	#signup {
		background: $off-white;
		color: $colbalt;
		font-family: 'Roboto', sans-serif;
		height: 100vh;
		
		input {
			background: $off-white;
			border-color: $pale-blue-2;
			color: $dark-blue;
		}

		button {
			background: $off-white;
			border-color: $pale-blue-1;
			color: $colbalt;
			font-family: 'Roboto', sans-serif;

			&:hover {
				color: darken($colbalt, 5%);
				background: darken($off-white, 5%);
				border-color: darken($pale-blue-1, 5%);
			}
		}
		
		form {
			a {
				font-weight: 900;
			}
		}
	}

/* --------- login --------- */

	#login {
		background: $off-white;
		color: $colbalt;
		font-family: 'Roboto', sans-serif;
		// font-family: 'Raleway', sans-serif;
		height: 100vh;
		
		input {
			background: $off-white;
			border-color: #87B9D8;
			color: $dark-blue;
		}

		button {
			background: $off-white;
			border-color: $pale-blue-1;
			color: $colbalt;
			font-family: 'Roboto', sans-serif;

			&:hover {
				color: darken($colbalt, 5%);
				background: darken($off-white, 5%);
				border-color: darken($pale-blue-1, 5%);
			}
		}
		
		form {
			a {
				font-weight: 900;
			}
		}
	}

/* --------- company --------- */

	#company-page {
		background: $off-white;
		height: 100vh;
		color: $dark-blue;
		
		li {
			background: $off-white;
			border-color: $dark-blue;
			color: $dark-blue;
			font-family: 'Roboto', sans-serif;

			&:hover {
				color: $dark-blue;
				background: darken($off-white, 5%);
				border-color: $dark-blue;
			}
		}

	}

	.admin-options {
		li {
			border: 2px solid black;
			border-radius: 0.5rem;
			display: inline-block;
			margin: 3rem 4rem;
			padding: 1rem 4rem;
			&:hover {
				background: lightgrey;
			}
		}
	}

/* ------ employees ------- */

	#employees {

		background: $off-white;
		height: 100vh;

		input {
			background: $off-white;
			border-color: $pale-blue-2;
			color: $dark-blue;

			&:hover {
				background: darken($off-white, 2.5%);
			}
		}

		textarea {
			background: $off-white;
			border-color: $pale-blue-2;
			color: $dark-blue;
		}

		button {
			background: $off-white;
			border-color: $pale-blue-1;
			color: $colbalt;
			font-family: 'Roboto', sans-serif;

			&:hover {
				color: darken($colbalt, 5%);
				background: darken($off-white, 5%);
				border-color: darken($pale-blue-1, 5%);
			}
		}

		.instructions-text {
			color: $dark-blue;
			font-size: 1.5rem;
			font-family: 'Raleway', sans-serif;	
			margin-top: 5rem;
		}

	}

	.edit-employee {
		img {
			max-width: 100%;
			border-radius: 4px;
		}
	}

	.employee-list {
		height: 90vh;
		overflow: scroll;
		position: relative;

	}

	.employee-individual {

		&:hover {
			background: darken($off-white, 5%);
		}
		
		.employee-stats {

			border: 1px solid $dark-blue;
			border-radius: 4px;
			color: $dark-blue;
			font-family: 'Raleway', sans-serif;	
			font-size: 1.5rem;
			margin: 0.5rem 0rem;
			position: relative;
			// text-align: center;

			img {
				border-radius: 4px 0px 0px 4px;
				display: inline-block;
				height: 100px;
				margin-left: 0;
				position: relative;
				width: 100px;
			}

			p {
				display: inline-block;
				position: relative;
				left: 2rem;
			}

		}
	
	}

	.example-spread-sheet {
			position: relative;
			
			.overlay {
				background: linear-gradient(to top, 
					$off-white 0%,
					rgba(255,255,255,0) 75%);
				position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    display: none;
		    color: #FFF;
		    display: block;
			}

			img {
				border-radius: 4px;
			}
		
	}

/*-------- schedule ---------*/

	.schedule-conflicts {

	}

	.scheduled-employee {
		font-size: 0.5rem;
	}

/* -------- legend --------- */

	.legend {
		ul li {
			#red {
				background: red;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
			#blue {
				background: blue;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
			#orange {
				background: orange;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
		}
	}


/* ------- calendar -------- */

	.calendar-header {
		text-align: center;

		li {
			display: inline-block;
			margin: 0 1rem;
		}
	}

	.calendar {
		
		background: lighten($off-white, 10%);

		th {
			max-width: 2rem;
			min-width: 2rem;
			text-align: center;
			width: 2rem;
		}
		td {
		 	height: 2rem;
		 	max-height: 2rem;
			min-height: 2rem;
			text-align: center;
		}
	}


/* -------- schedule ---------*/

	.calendar-section	{
		.table th {
			max-width: 5rem;
			min-width: 5rem;
			width: 5rem;
		}
		 td {
		 	height: 5rem;
		 	max-height: 5rem;
			min-height: 5rem;
			text-align: right;
		}
	}

















