/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). employees
	4). profile

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ------ universal ------- */

	html{
		font-size:16px;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
	}

	a:hover {
		text-decoration: none;
	}

	.ng-cloak {
		display: none;
	}
	
	.green {
		background: green;
	}

	.red {
		background: red;
	}

	.centered {
		text-align: center;
	}

	.strikethrough {
	  text-decoration: line-through;
	}

	.wrapper {
		margin: 0 1rem;
	}

/* ------ navbar ------- */

	.navbar {
		border-radius: 0;
	}

/* ------ employees ------- */

	.edit-employee {
		img {
			max-width: 100%;
		}
	}

	.employee-list {
		border: 1px solid black;
		height: 90vh;
		overflow: scroll;
	}

	.employee-individual {
		&:hover {
			background: lightgrey;
		}
		border-bottom: 1px solid black;
		// need to edit height and width
		img {
			height: 100px;
			width: 100px;
		}

	}

/*----------- schedule ---------------*/

	.schedule-conflicts {

	}


/* -------- legend --------- */

	.legend {
		ul li {
			#red {
				background: red;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
			#blue {
				background: blue;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
			#orange {
				background: orange;
				border-radius: 4px;
				display: inline-block;
				height: 30px;
				width: 40px;
			}
		}
	}


/* ------- calendar -------- */

	.calendar-header {
		text-align: center;

		li {
			display: inline-block;
			margin: 0 1rem;
		}
	}

	.calendar {
		th {
			max-width: 2rem;
			min-width: 2rem;
			text-align: center;
			width: 2rem;
		}
		td {
		 	height: 2rem;
		 	max-height: 2rem;
			min-height: 2rem;
			text-align: center;
		}
	}


/* -------- schedule ---------*/

	.calendar-section	{
		.table th {
			max-width: 5rem;
			min-width: 5rem;
			width: 5rem;
		}
		 td {
		 	height: 5rem;
		 	max-height: 5rem;
			min-height: 5rem;
			text-align: right;
		}
	}

















